body{
   background :linear-gradient(-45deg,blue, yellow, red, green, black) ;
   background-size: 200% 200%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   animation:blink 5s infinite;
   height: 100%;
   


}
@keyframes blink{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 75%;
    }
    75%{
        background-position:75% 50% ;
    }
    100%{
        background-position: 50% 0%;
    }

}
center{
    font-size: 30px; 
    border: 2px solid transparent;
    box-shadow:10px 30px 50px 10px whitesmoke ;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
  
    

}